<div *ngIf="user">
  <div class="clr-row clr-justify-content-center">
    <div class="clr-col-lg-6 clr-col-12">
      <div class="btn-group">
        <a (click)="goBack()" class="btn btn-icon">
          <clr-icon shape="undo"></clr-icon>
          <span>&nbsp;Back</span>
        </a>
      </div>

      <p>{{ user.firstName }}</p>
      <p>{{ user.lastName }}</p>
      <p>{{ user.email }}</p>

      <div class="btn-group">
        <a [routerLink]="['/users', user._id, 'edit']" class="btn btn-primary btn-sm">Edit</a>
        <a (click)="deleteUser()" class="btn btn-danger btn-sm">Delete</a>
      </div>
    </div>
  </div>

</div>
