<div class="main-container">
  <app-alerts></app-alerts>
  <header class="header-6">
    <div class="branding">
      <a class="nav-link">
        <clr-icon shape="administrator"></clr-icon>
        <span class="title">Mega Admin-panel</span>
      </a>
    </div>
    <div class="header-nav" *ngIf="isLoggedIn">
      <a
        routerLink="/users"
        routerLinkActive="active"
        class="nav-link"
      >
        <span class="nav-text">Users</span>
      </a>
      <a
        routerLink="/about"
        routerLinkActive="active"
        class="nav-link"
      >
        <span class="nav-text">About us</span>
      </a>
    </div>
    <div class="header-actions" *ngIf="isLoggedIn">
      <clr-dropdown>
        <button class="nav-icon" clrDropdownTrigger>
          <clr-icon shape="user"></clr-icon>
          <clr-icon shape="caret down"></clr-icon>
        </button>
        <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
          <a *ngIf="isLoggedIn" (click)="logOut()" clrDropdownItem>Logout</a>
        </clr-dropdown-menu>
      </clr-dropdown>
    </div>
  </header>
  <div class="content-container">
    <div class="content-area">

      <router-outlet></router-outlet>

    </div>
  </div>
</div>
