<ng-container>
  <div class="jumbotron text-center">
    <h2>Employees list</h2>
    <a routerLink="/users/create" class="btn btn-sm btn-info">Create new employee</a>
  </div>

  <app-search
    placeholder="search by name"
    (inputChange)="onInputChange($event)"
  ></app-search>
  <app-paginator
    *ngIf="totalItems"
    [totalItems]="totalItems"
    [itemsPerPage]="perPage"
    (makeStep)="onPaginatorChange($event)"
  >
  </app-paginator>
  <div class="clr-row clr-justify-content-center"
    *ngIf="users"
  >
    <div class="clr-col-lg-6 clr-col-12">
      <div class="card" *ngFor="let user of users; trackBy: trackByMethod">
        <div class="card-block">
          <div class="card-media-block wrap">
            <img
              class="card-media-image"
              [attr.src]="getAvatar(user)"
              [attr.alt]="user.firstName + ' ' + user.lastName"
            />
          </div>
          <div class="card-title">
            {{ user.firstName }} {{ user.lastName }}
          </div>
          <div class="card-text">
            {{ user.email }}
          </div>
        </div>
        <div class="card-footer">
          <button class="btn btn-sm btn-link" [routerLink]="['/users/', user._id]">
            View full
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-container>
